<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="post" action="/team">
     <label>Name</label>: <input type="text" name="name"><br/>
     <label>Coach</label>: <input type="text" name="coach"><br/>
     <label>Point Guard</label>: <input type="text" name="pg"><br/>
     <label>Power Forward</label>: <input type="text" name="pf"><br/>
     <label>Shooting Forward</label>: <input type="text" name="sf"><br/>
     <label>Shooting Guard</label>: <input type="text" name="sg"><br/>
     <label>Center</label>: <input type="text" name="c"><br/>
     <button type="Submit" value="Submit">Submit</button>
   </form>
 </body>
</html>
